body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.sections {
    display: flex;
    gap: 50px;
    align-items: baseline;
}

.secondary-font {
    font-family: "Henny Penny", system-ui;
    font-size: 42px;
}

.primary-font {
    font-size: 42px;
}

.main-color {
    border-radius: 50%;
    padding: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color1 {
    background-color: #6D3AF8;
    color: #FFF;
}

.color2 {
    background-color: #4B45F2;
    color: #FFF;
}

.color3 {
    background-color: #4996FC;
    color: #FFF;
}

.color4 {
    background-color: #F53232;
    color: #FFF;
}

.color5 {
    background-color: #F8F9FF;
    border: 1px solid grey;
}

.color6 {
    background-color: #14BB08;
    color: #FFF;
}