body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: rgb(255 255 255);
}

header {
    text-align: center;
    margin: 40px 0;
}

header h1 {
    font-family: "Henny Penny", system-ui;
    font-size: 48px;
    color: #0000A5;
}

.sections {
    display: flex;
    gap: 50px;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f9fafb;
    border-radius: 0.5rem;
}

.secondary-font {
    font-family: "Henny Penny", system-ui;
    font-size: 42px;
}

.primary-font {
    font-size: 42px;
}

.fonts {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.main-color {
    border-radius: 50%;
    padding: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color1 {
    background-color: #4F4FE5;
    color: #FFF;
}

.color2 {
    background-color: #0000A5;
    color: #FFF;
}

.color3 {
    background-color: #6B37F8;
    color: #FFF;
}

.color4 {
    background-color: #2563EB;
    color: #FFF;
}

.color5 {
    background-color: #F53232;
    color: #FFF;
}

.color6 {
    background-color: #22C55E;
    color: #FFF;
}

.buttons {
    background-color: #8caffb;
    padding: 35px 55px;
    margin: 35px 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button {
    font-family: inherit;
    font-size: 100%;
    padding: 10px 15px;
    border-radius: .5rem;
    cursor: pointer;
    background-color: #FFF;
    color: #0000A5;
    border: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out;
}

.not-header {
    background-color: #4F46E5;
    color: #FFF;
    padding: 10px 35px;
}

.note {
    color: #6b7280;
    font-size: 0.9rem;
    margin-top: 10px;
}

.card {
    max-width: 400px;
    overflow: hidden;
    box-sizing: border-box;
    border-color: #e5e7eb;
    border-radius: .5rem;
    background-color: #FFF;
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / .1);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 50px;
}

.card:hover, button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card img {
    max-width: -moz-available;
}

.card-info {
    padding: 15px;
}

.rating {
    display: flex;
    background-color: #2563EB;
    width: fit-content;
    color: #FFF;
    gap: 3px;
    padding: 8px;
    border-radius: .5rem;
    align-items: center;
    font-weight: bold;
}

.down-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.check {
    color: #22C55E;
}